* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
}

/* .container {
    width: 600px;
} */

.header {
    width: 100%;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
}

.left-header h3 {
    font-size: 20px;
}

.right-header {
    display: flex;
    gap: 10px;
}

.header-btn {
    background-color: #ffffff;
    color: #007bff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.header-btn:hover {
    background-color: #0056b3;
    color: #fff;
}

.logout-btn {
    background-color: #dc3545;
    color: white;
}

.logout-btn:hover {
    background-color: #c82333;
}

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.left-side, .right-side {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-side {
    width: 50%;
}

.right-side {
    width: 30%;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.add-btn {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-btn:hover {
    background-color: #218838;
}

.action-btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.action-btn:hover {
    background-color: #0056b3;
}


